ul{
  margin: 0px;
  padding: 0px;
}

li{
  color: #00F7FF;
  list-style-type: none;
  text-align: end;
  font-size: 16px;
  cursor: pointer;
}

li:hover{
  color: white;
  transition: 0.2s;
}

.navbar1{
  height: 12vh;
}

.sfondo-immagine{
   width: 240px;
   height: 300px;
   background-color: #000000;
   box-shadow: 18px 17px 0px 2px #00878B;
}

img{
  filter: grayscale(100%);
}

.testo{
  font-size: 20px;
  color: #8D8D8D;
  margin-top: 15px;
}

.bold{
  color: #00F7FF;
  font-weight: 600;
}

.titolo{
  color: #00F7FF;
  font-size: 40px;
  margin-top: 60px;
}

.container{
  padding-bottom: 70px;
}



@media screen and ( min-width: 576px){

  li{
    font-size: 20px;
  }

}


@media screen and ( min-width: 992px){
  .flexata{
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .zona-testo{
    width: 600px;
  }

  li{
    font-size: 25px;
  }
}
@media screen and ( min-width: 1400px){

  .titolo{
    font-size: 60px;
  }

  .testo{
    font-size: 25px;
  }

  .sfondo-immagine{
    width: 270px;
    height: 370px;
  }

}












/*  */
