<div class="container">
  <!-- navbar -->
  <div class="navbar1 animate__animated animate__fadeInDown">
    <ul class="d-flex align-items-center h-100 justify-content-between">
      <li routerLink="">Home</li>
      <li routerLink="/chisono">Chi sono</li>
      <li routerLink="/portfolio">Portfolio</li>
      <li routerLink="/contattami">Contattami</li>
    </ul>
  </div>

  <div class="flexata">
    <div class="d-flex justify-content-center me-4 pt-5 animate__animated animate__fadeInDown">
      <div class="sfondo-immagine d-flex justify-content-center">
        <img src="../../assets/me.webp" alt="" class="h-100" />
      </div>
    </div>
    <div class="zona-testo">
      <div class="titolo animate__animated animate__fadeInUp">.Ciao()</div>

      <div class="testo p-2 animate__animated animate__fadeInUp">
        Sono un giovane <span class="bold">Full Stack Developer</span> e
        Designer con competenze nel web e software. Abile nel
        <span class="bold">lavoro di squadra</span>, offro soluzioni innovative
        e esteticamente accattivanti. Nel mio portfolio troverai progetti che
        dimostrano la mia <span class="bold">dedizione</span> e
        <span class="bold">creatività</span>.
      </div>
    </div>
  </div>
</div>
