<div class="container">

  <!-- navbar -->
  <div class="navbar1">
    <ul class="d-flex align-items-center h-100 justify-content-between">
      <li routerLink="">Home</li>
      <li>Chi sono</li>
      <li>Portfolio</li>
      <li>Contattami</li>
    </ul>
  </div>


  <div class="d-flex justify-content-center me-4 pt-5">
    <div class="sfondo-immagine d-flex justify-content-center">
      <img src="../../assets/me.png" alt="" class=" h-100">
    </div>
  </div>

  <div class="titolo">
    .Ciao()
  </div>

  <div class="testo p-2">
    Sono un giovane <span class="bold">Full Stack Developer</span> e Designer con competenze nel web e software. Abile nel <span class="bold">lavoro di squadra</span>, offro soluzioni innovative e esteticamente accattivanti. Nel mio portfolio troverai progetti che dimostrano la mia <span class="bold">dedizione</span> e <span class="bold">creatività</span>.

  </div>






</div>
