ul{
  margin: 0px;
  padding: 0px;
}

li{
  color: #00F7FF;
  list-style-type: none;
  text-align: end;
  font-size: 16px;
  cursor: pointer;
}

li:hover{
  color: white;
  transition: 0.2s;
}

.navbar1{
  height: 12vh;
}

.flexata{
  height: 80vh;
}

.icona{
  font-size: 50px;
  color: #00F7FF;
}

.linea{
  width: 3px;
  background-color: #00F7FF;
  height: 70px;
}

.fa-solid, .fa-brands{
  text-decoration: none;
  color: #00F7FF;
}

a{
  text-decoration: none;
}

span{
  color: white;
  font-size: 20px;
}






/*  */
