<div class="container">
  <div class="navbar1 animate__animated animate__fadeInDown">
    <ul class="d-flex align-items-center h-100 justify-content-between">
      <li routerLink="">Home</li>
      <li routerLink="/chisono">Chi sono</li>
      <li routerLink="/portfolio">Portfolio</li>
      <li routerLink="/contattami">Contattami</li>
    </ul>
  </div>

  <div
    class="d-flex flex-column align-items-center justify-content-center flexata animate__animated animate__fadeInUp
    "
  >
    <div class="icona">
      <a href="mailto:luigidev6464@gmail.com">
        <i class="fa-solid fa-envelope-open-text"></i>
      </a>
    </div>
    <div class="linea"></div>
    <div class="icona">
      <a href="tel:3319827768">
        <i class="fa-solid fa-phone"></i>
      </a>
    </div>
    <div class="linea"></div>
    <div class="icona">
      <a href="https://www.linkedin.com/in/luigi-prencipe/">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</div>
