ul{
  margin: 0px;
  padding: 0px;
}

li{
  color: #00F7FF;
  list-style-type: none;
  text-align: end;
  font-size: 16px;
  cursor: pointer;
}

li:hover{
  color: white;
  transition: 0.2s;
}

.navbar1{
  height: 12vh;
}
