<div class="container altezza">
  <!-- Navbar -->
  <div class="d-flex justify-content-between align-items-end navbar1 animate__animated animate__fadeIn">
    <div class="d-flex w-50 justify-content-start gap-5 icone">
      <div><i class="fa-brands fa-instagram icone"></i></div>
      <div><i class="fa-brands fa-linkedin icone"></i></div>
      <div><i class="fa-brands fa-github icone"></i></div>
    </div>

    <div>
      <button>Curriculum</button>
    </div>
  </div>

  <!-- content -->
  <div class="d-flex justify-content-center align-items-end h-100 content">
    <div class="contenitore d-flex justify-content-center w-50">
      <div class="d-flex align-items-end h-100 me-3 animate__animated animate__fadeInUp">
        <div class="linea"></div>
      </div>
      <div class="animate__animated animate__fadeInDown">
        <div class="text-light titolo">Luigi<span>.is()</span></div>
        <div class="sottotitolo">Luigi Prencipe</div>
        <div class="sottotitolo2 mt-2">
          Full-Stack Developer, Web Developer, Software Developer, Designer.
        </div>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="menu animate__animated animate__fadeInRight">
    <ul>
      <li routerLink="">Home</li>
      <li routerLink="chisono">Chi sono</li>
      <li>Portfolio</li>
      <li>Contattami</li>
    </ul>
  </div>
</div>
