<div class="container altezza">
  <!-- Navbar -->
  <div class="d-flex justify-content-between align-items-end navbar1 animate__animated animate__fadeInDown">
    <div class="d-flex w-50 justify-content-start gap-5 icone">
      <div><a href="https://www.instagram.com/gigi.pr3/"><i class="fa-brands fa-instagram icone"></i></a></div>
      <div><a href="https://www.linkedin.com/in/luigi-prencipe/"><i class="fa-brands fa-linkedin icone"></i></a></div>
      <div><a href="https://github.com/GIGIPR3"><i class="fa-brands fa-github icone"></i></a></div>
    </div>

    <div>
      <a href="https://drive.google.com/file/d/1ijSZxmXTrC5hx7D3VSO9VmD9AonvFLZ0/view?usp=sharing">
        <button>Curriculum</button>
      </a>

    </div>
  </div>

  <!-- content -->
  <div class="d-flex justify-content-center align-items-end h-100 content">
    <div class="contenitore d-flex justify-content-center w-50">
      <div class="d-flex align-items-end h-100 me-3 animate__animated animate__fadeInUp">
        <div class="linea"></div>
      </div>
      <div class="animate__animated animate__fadeInDown">
        <div class="text-light titolo">Luigi<span>.is()</span></div>
        <div class="sottotitolo">Luigi Prencipe</div>
        <div class="sottotitolo2 mt-2">
          Full-Stack Developer, Web Developer, Software Developer, Designer.
        </div>
      </div>
    </div>
  </div>

  <!-- menu -->
  <div class="menu animate__animated animate__fadeInRight">
    <ul>
      <li routerLink="">Home</li>
      <li routerLink="/chisono">Chi sono</li>
      <li routerLink="/portfolio">Portfolio</li>
      <li routerLink="/contattami">Contattami</li>
    </ul>
  </div>
</div>
